<div id="container" >
  <div id="top-section" class="container" >
    <div id="service_fields" class="full">
      <div id="trec_request" >
        <%= render "/ui_data/services", services: @services %>
      </div>
    </div>
  </div>
  <div id="bottom-section" class="container"
    <h3> Console  </h3>
    <div id="console" class="full">
    </div>
  </div>
</div>






