<div id="container" >
  <div id="left" class="tc_left">
    <div id="create" class="sdiv">
      <%= render "tracking_calls/new" %>
    </div>
    <div id="query_edit" class="sdiv" >
      <%= render "tracking_calls/search" %>
    </div>
  </div>
  <div id="right" class="tc_right">
    <h1 align="center"> Search Results </h1>
        <div id="edit_results" style="height:500px;overflow:auto;">
          <h2 align="center" >Initiate a search for results here </h2>
        </div>
  </div>
</div>
